@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
/*
ul li {
  list-style-type: none;
}
ul li:before {
  content: "\f080";
  font-size: 28px;
  font-family: "FontAwesome";
  margin-right: 10px;
  color: #D93F00;
}
ul li li:before {
  content: "\f200";
  font-size: 20px;
  font-family: "FontAwesome";
  margin-right: 5px;
  color: #D93F00;
}
*/

.blockquote {
  /*background: #474863;*/
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}


/* Font sizes */
.gigantic { font-size: 1000%;}
.vvvhuge { font-size: 700%;}
.vvhuge { font-size: 500%;}
.vhuge { font-size: 350%;}
.huge { font-size: 250%;}
.vlarge { font-size: 200%;}
.large { font-size: 150%;}
.medium { font-size: 120%;}
.small { font-size: 70%;}

/* custom.css */
.left-code {
  /*color: #777;*/
  width: 38%;
  height: 92%;
  float: left;
}
.right-plot {
  width: 60%;
  float: right;
  padding-left: 1%;
}

.pull-left {
  float: left;
  width: 45%;
}
.pull-right {
  float: right;
  width: 45%;
}

table {
  margin: 1em 1em 1em 1em;
  border-top: 1px solid #666;
  width: 100%;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
tr:nth-child(even) { background: #eee }

/*
.remark-slide table{
        width: 100%;
    }

    /* Change the background color to white for shaded rows (even rows)

    .remark-slide thead, .remark-slide tr:nth-child(2n) {
        background-color: white;
    }
    
    */
    
